:root {


}

/*====================GENERAL====================*/
.containerMade {
    padding: 24px;
    width: 100vw;
}

.fs-32 {
    font-size: 32px;
}

.fs-28 {
    font-size: 28px;
}

.vr {
    width: 1px !important;
    opacity: 1 !important;
}

.h-78 {

    height: 77vh;
}

.hr {
    width: 100%;
    height: 1px;
    background: black;
}

/*====================PROGRESS BAR====================*/
.progressBar {
    width: 50vw;
    height: 15px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 2px solid #DCDCDC;
    background: #F7F7F7;
    position: relative;
}

.progressBar .progressBar-progress {
    height: 136%;
    top: -17%;
    left: 0%;
    width: 0%;
    border-radius: 36px;
    border: 2px solid #00a9e2;
    background: #8BDEFF;
    z-index: 2;
    position: relative;
    transition: all 0.5s;
}

.progressBar .rond {

    width: 30px;
    height: 30px;

    z-index: 3;
    border-radius: 36px;
    top: -81%;
    position: absolute;
}

.progressBar .rond1 {
    left: -2%;
    border: 2px solid #0FA4D8;
    background: #8BDEFF;
}

.progressBar .rond2 {
    right: -2%;
    border: 2px solid #DCDCDC;
    background: #F7F7F7;

    transition: all 1.5s;
}

/*====================NAV====================*/
.preparatorNav ul {
    list-style: none;
    padding: 0;
}

.preparatorNav .active {
    font-weight: bold;
}

/*====================BTN====================*/
.blueBtn {
    display: inline-flex;
    padding: 10px 23px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #8BDEFF;
}

.blueBtn:active {
    background: #75c9ea;
}

.backBtn {

    padding: 10px 15px;

    border-radius: 10px;
    background: #DEDEDE;
}.backBtn:active {

    background: #d9d9d9;
}

#buttonContainer a {
    text-decoration: none;
    color: black;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    border: 0;
    padding: 0;
    height: 175px;
    width: 195px;
    outline: 0;
    font-size: 25px;

}


.btnGrey {
    background: #C6C7D7;
}
.btnGrey:active {
    background: #a5a6bd;
}

.btnGreen {
    background: #8BF979;
}
.btnGreen:active {
    background: #79e567;
}

/*====================ORDER LIST====================*/
.order {
    display: flex;
    flex-direction: row;
    color: #000;
    text-decoration: none;
}

.orderRed .number {
    background: #E06159;
}

.orderRed .information {
    background: #F98179;
}

.orderRed:active .information {
    background: #ea746c;
}

.orderGreen .number {
    background: #6CE059;
}

.orderGreen .information {
    background: #8BF979;
}

.orderGreen:active .information {
    background: #79e867;
}

.order .number {
    width: 5%;
}

.order .information {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order .information h1 {
    font-weight: 700;
}

.order .information span {
    font-weight: 400;
}


/*====================ORDER PAGE====================*/
#adminShowOrderPage h1 {
    color: #0077A9;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.266%; /* 76.97px */
}

#adminShowOrderPage .orangeText {
    color: #CD6F00;
    font-style: normal;
    font-weight: 700;
    line-height: 120.266%;
}

#adminShowOrderToDelivryPage h1 {
    color: #0077A9;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.266%; /* 48.107px */
}

#adminShowOrderToDelivryPage {
    height: 56vh;
}

#buttonContainer {
    display: flex;
    padding: 26px 0px;
    flex-direction: row;
    padding-inline: 50px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-top: 4px solid #979797;
    background: #eddede;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.refBlue {
    border-radius: 10px;
    background: #8BDEFF;
    text-align: center;
    align-content: center;

}

/*====================PROBLEME PAGE====================*/

#problemePage h1 {
    color: #B40015;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.266%; /* 76.97px */
}

#problemePage .redBox {
    display: block;
    border-radius: 10px;
    background: #FF9396;
    text-align: center;
    align-content: center;
    font-weight: normal;
    width: fit-content;
    padding: 20px 30px;

}

#problemePage .btnRouge:active {
    background: #e77f81;
}

#problemePage .product {
    text-align: center;
    align-content: center;
    border-radius: 10px;
    background: #FBEB64;
    background: color(display-p3 0.975 0.925 0.4753);
    width: 30vw;
    padding: 20px 30px;
}
#problemePage .product:active {
    background: #eada53;}