{% extends './admin/base.html.twig' %}
{% block title %}Utilisateurs{% endblock %}
{% block body %}
    {% for user in users %}
        <div class="card">
            {{ user.email}}
        </div>
    {% endfor %}
{% endblock %}
