{% extends './client/base.html.twig' %}

{% block title %}{{prod.name}}{% endblock %}

{% block body %}

     {{ prod.id }}
     {{ prod.name }}
     <button> Ajouter au panier </button>
{% endblock %}
