{% extends './admin/base.html.twig' %}
{% block title %}Catégories{% endblock %}


{% block body %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('new_category') }}">new Category</a>
    </li>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">action</th>
        </tr>
        </thead>
         <tbody>
         {% for cat  in categories %}

         <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ cat.name }}</td>
            <td><a href="{{ path('del_category',{'id':cat.id}) }}">Delete</a></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
