{% extends './admin/base.html.twig' %}
{% block title %}Ajoutez une image{% endblock %}


{% block body %}

    {% for image in prod.images %}
        {% include '/component/image.html.twig' with  {
            'route_name':'delete_image',
            'imgClass':'imageAdded',
            'image':image,
            'param':{'id':image.id},
            'aClass':''} %}
    {% endfor %}
    <h1>Nouveau produt</h1>
    <div class="example-wrapper">
        {{ form_start(formImage) }}
        {{ form_row(formImage.imageFile,{'attr':{'data-controller':'mydropzone'}}) }}
        <button type="submit" class="btn btn-primary">creer</button>
        <a href="{{ path('app_product_admin') }}">Voir les produits</a>
        {{ form_end(formImage) }}
    </div>
{% endblock %}
