{% extends './client/base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}

    <div class="container d-flex flex-column align-items-center py-5">
        <div class="w-100 d-flex flex-row justify-content-between align-items-center py-5">
            <div class="w-25 d-flex flex-column align-items-center">

                <span class="black-title">Diversité</span>
                <p>
                    Chez Sirius, nous croyons que le luxe est une expérience qui doit être accessible tant aux hommes
                    qu'aux femmes, proposant ainsi une gamme diversifiée qui célèbre l'unicité de chaque individu.
                    Chaque pièce est conçue avec un soin méticuleux et une attention particulière aux détails,
                    garantissant non seulement l'élégance mais aussi un confort inégalé.
                </p>
            </div>
            <div class="w-25 d-flex flex-column align-items-center" id="aboutUsTopCenter">
                <span class="gold-title">SIRIUS</span>
                <p>
                    Nous avons le plaisir de vous présenter Sirius, une marque emblématique du luxe et de l'élégance.
                    Reconnue pour son engagement et son sérieux ainsi que le raffinement dans chaque création.
                </p>
            </div>
            <div class="w-25  d-flex flex-column align-items-center">
                <span class="black-title">Qualité</span>
                <p>
                    Nous nous engageons à maintenir les plus hauts standards de l'industrie de la mode de luxe, tout en
                    respectant notre responsabilité éthique et environnementale. Rejoignez-nous dans ce voyage où le
                    style rencontre le luxe durable. Avec Sirius, redéfinissez votre garde-robe avec sophistication et
                    sérieux.
                </p>
            </div>

        </div>
        <div class="gold-hr mt-5 mb-5"></div>
        <div class="mt-5 d-flex flex-row justify-content-between" id="divSaraLeone">
            <div class="" id="saraLeone">
                <span class="gold-title">Sara Leone</span>
            </div>
            <div class="p-5 w-50">
                <blockquote cite="">
                    <p class="">Notre mission est de transcender les attentes traditionnelles de la mode en
                        offrant des vêtements et accessoires qui ne se contentent pas seulement de
                        suivre les tendances, mais de les définir. Nous sommes animés par la conviction que le vrai luxe
                        réside dans l'unicité et la durabilité. Nos collections sont soigneusement conçues pour
                        s'inscrire dans une démarche durable, respectueuse de notre planète et de ses artisans. Chaque
                        vêtement, chaque accessoire raconte une histoire de passion, d'engagement et de finesse
                        artistique, invitant celui ou celle qui le porte à s'immerger dans un monde où l'élégance est
                        synonyme de conscience et de responsabilité.</p>
                    <footer>—Sara Leone</footer>
                </blockquote>
            </div>

        </div>
        <div class="d-flex flex-row justify-content-between align-items-end" id="divZyanBran">
            <div class="p-5 w-50">
                <blockquote cite="">
                    <p>
                        Innovation
                        Sirius n'est pas juste une marque ; c'est une révolution dans le domaine de la haute couture. À
                        l'avant-garde de la mode, chaque collection est une ode à l'innovation et à la créativité. Nos
                        créateurs explorent sans cesse de nouvelles horizons, défiant les conventions et repoussant les
                        limites du design pour vous offrir une élégance qui se distingue.</p>
                    <footer>—Zyan Bran</footer>
                </blockquote>
            </div>
            <div class="" id="zyanBran">
                <span class="gold-title">Zyan Bran</span>
            </div>


        </div>
    </div>



{% endblock %}
